In [1]:
import numpy as np
import pandas as pd
import scipy.sparse
from scipy.spatial.distance import correlation

In [2]:
user_data = pd.read_csv('Leh_responses.csv')
attractions = pd.read_csv('user_attr.csv')

In [3]:
user_data.head()

,Timestamp,Age,Gender,Marital Status,Which category best describes your primary area of employment?,In which city do you live?,How many night(s) do you plan to stay in Leh?,The people who will be accompanying you:,Estimated budget for the trip (per person)?,The purpose of taking the trip,Which type of accommodation would you prefer for the trip?,What are the activities you have planned to participate in during your stay?,Please tick the places that you have visited/ planning to visit during your trip to Leh.,Food and beverages(restaurant),Accessibility to public transport,Hotel facilities,Price of goods and services
0,27/08/2020 17:12:32,21,Female,Unmarried,Student,Bhopal,More than 5 days,Parents or Relatives,Between 10k and 25k,Holiday or vacation,Hotel,"Visit museums, Visit national parks, Visit his...","Pangong Tso Lake, Shanti Stupa, Tiger Hill, Kh...",9.0,8.0,10.0,8.0
1,27/08/2020 17:14:42,22,Male,Unmarried,Student,Deoria,Less than 2 days,Friends,Below 10k,Holiday or vacation,Dormitory,"Biking, Water Sports or Boating, Visit enterta...","Pangong Tso Lake, Shanti Stupa, Royal Leh Pala...",9.0,6.0,7.0,7.0
2,27/08/2020 17:21:38,21,Female,Unmarried,Student,Gwalior,Between 2 to 5 days,Friends,Below 10k,Holiday or vacation,Dormitory,"Biking, Water Sports or Boating, Visit museums...","Pangong Tso Lake, Shanti Stupa, Tiger Hill, Kh...",NaN,NaN,NaN,NaN
3,27/08/2020 17:30:16,22,Male,Unmarried,Student,Kota,Between 2 to 5 days,Girlfriend,Between 10k and 25k,Holiday or vacation,Hotel,"Visit entertainment places, nightclubs, Restau...","Pangong Tso Lake, Gol Market",9.0,9.0,7.0,10.0
4,27/08/2020 17:31:52,20,Female,Unmarried,Student,Gwalior,More than 5 days,Friends,Above 25k,Holiday or vacation,Hotel,"Biking, Water Sports or Boating, Visit museums...","Pangong Tso Lake, Shanti Stupa, Tiger Hill, Kh...",NaN,NaN,NaN,NaN

In [4]:
user_data.drop(['Timestamp', 'Marital Status', 'Which category best describes your primary area of employment?', 'In which city do you live?', 'The people who will be accompanying you:'], axis = 1, inplace=True)

In [5]:
user_data.rename(columns={'How many night(s) do you plan to stay in Leh?': '#nights', 'Estimated budget for the trip (per person)?':'Budget/person', 'The purpose of taking the trip':'purpose','Which type of accommodation would you prefer for the trip?':'accomodation_type','What are the activities you have planned to participate in during your stay?':'activities','Please tick the places that you have visited/ planning to visit during your trip to Leh.':'places'}, inplace=True)

In [6]:
user_data['places'].fillna('None', inplace=True)

In [7]:
user_data['Food and beverages(restaurant)'].fillna(user_data['Food and beverages(restaurant)'].mean(), inplace=True)
user_data['Accessibility to public transport'].fillna(user_data['Accessibility to public transport'].mean(), inplace=True)
user_data['Hotel facilities'].fillna(user_data['Hotel facilities'].mean(), inplace=True)
user_data['Price of goods and services'].fillna(user_data['Price of goods and services'].mean(), inplace=True)

In [8]:
user_data.isnull().sum()

Age                                  0
Gender                               0
#nights                              0
Budget/person                        0
purpose                              0
accomodation_type                    0
activities                           0
places                               0
Food and beverages(restaurant)       0
Accessibility to public transport    0
Hotel facilities                     0
Price of goods and services          0
dtype: int64

In [9]:
user_data.head()

,Age,Gender,#nights,Budget/person,purpose,accomodation_type,activities,places,Food and beverages(restaurant),Accessibility to public transport,Hotel facilities,Price of goods and services
0,21,Female,More than 5 days,Between 10k and 25k,Holiday or vacation,Hotel,"Visit museums, Visit national parks, Visit his...","Pangong Tso Lake, Shanti Stupa, Tiger Hill, Kh...",9.000000,8.000000,10.000000,8.000000
1,22,Male,Less than 2 days,Below 10k,Holiday or vacation,Dormitory,"Biking, Water Sports or Boating, Visit enterta...","Pangong Tso Lake, Shanti Stupa, Royal Leh Pala...",9.000000,6.000000,7.000000,7.000000
2,21,Female,Between 2 to 5 days,Below 10k,Holiday or vacation,Dormitory,"Biking, Water Sports or Boating, Visit museums...","Pangong Tso Lake, Shanti Stupa, Tiger Hill, Kh...",8.153846,7.153846,8.269231,7.884615
3,22,Male,Between 2 to 5 days,Between 10k and 25k,Holiday or vacation,Hotel,"Visit entertainment places, nightclubs, Restau...","Pangong Tso Lake, Gol Market",9.000000,9.000000,7.000000,10.000000
4,20,Female,More than 5 days,Above 25k,Holiday or vacation,Hotel,"Biking, Water Sports or Boating, Visit museums...","Pangong Tso Lake, Shanti Stupa, Tiger Hill, Kh...",8.153846,7.153846,8.269231,7.884615

In [10]:
item = []
for i in range(len(user_data['Age'])):
    item.append(i + 1)

In [11]:
user_data['userid'] = item

In [12]:
user_data.head()

,Age,Gender,#nights,Budget/person,purpose,accomodation_type,activities,places,Food and beverages(restaurant),Accessibility to public transport,Hotel facilities,Price of goods and services,userid
0,21,Female,More than 5 days,Between 10k and 25k,Holiday or vacation,Hotel,"Visit museums, Visit national parks, Visit his...","Pangong Tso Lake, Shanti Stupa, Tiger Hill, Kh...",9.000000,8.000000,10.000000,8.000000,1
1,22,Male,Less than 2 days,Below 10k,Holiday or vacation,Dormitory,"Biking, Water Sports or Boating, Visit enterta...","Pangong Tso Lake, Shanti Stupa, Royal Leh Pala...",9.000000,6.000000,7.000000,7.000000,2
2,21,Female,Between 2 to 5 days,Below 10k,Holiday or vacation,Dormitory,"Biking, Water Sports or Boating, Visit museums...","Pangong Tso Lake, Shanti Stupa, Tiger Hill, Kh...",8.153846,7.153846,8.269231,7.884615,3
3,22,Male,Between 2 to 5 days,Between 10k and 25k,Holiday or vacation,Hotel,"Visit entertainment places, nightclubs, Restau...","Pangong Tso Lake, Gol Market",9.000000,9.000000,7.000000,10.000000,4
4,20,Female,More than 5 days,Above 25k,Holiday or vacation,Hotel,"Biking, Water Sports or Boating, Visit museums...","Pangong Tso Lake, Shanti Stupa, Tiger Hill, Kh...",8.153846,7.153846,8.269231,7.884615,5

In [13]:
user_data.shape

(104, 13)

In [14]:
item = []
for i in range(len(attractions['Name'])):
    item.append(i + 1)

In [15]:
attractions['itemid'] = item

In [16]:
attractions.drop(['Description'], axis=1, inplace=True)

In [17]:
attractions.isnull().sum()

Name        0
Category    0
itemid      0
dtype: int64

In [18]:
#attractions.drop(['attraction_id'], axis=1, inplace=True)

In [19]:
attractions.head()

               Name            Category  itemid
0  Pangong Tso Lake      Nature & Parks       1
1      Shanti Stupa  Sights & Landmarks       2
2        Tiger Hill      Nature & Parks       3
3  Khardung-la Pass      Nature & Parks       4
4  Royal Leh Palace  Sights & Landmarks       5

In [20]:
attractions.shape

(20, 3)

In [21]:
user = []
item = []
for i in range(1,105):
    for j in range(1,21):
        user.append(i)
        item.append(j)

In [22]:
df = pd.DataFrame(
    {
        'userid': user,
        'itemid': item
    }
)

In [23]:
df.head()

   userid  itemid
0       1       1
1       1       2
2       1       3
3       1       4
4       1       5

In [24]:
attractions['Name'][0] = 'Pangong Tso Lake'

/home/ankita123/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [25]:
user_data = user_data.assign(places=user_data.places.str.split(",")).explode('places')

In [26]:
user_data.reset_index(inplace=True, drop=True)

In [27]:
#user_data.drop('index', inplace=True, axis=1)

In [28]:
user_data

,Age,Gender,#nights,Budget/person,purpose,accomodation_type,activities,places,Food and beverages(restaurant),Accessibility to public transport,Hotel facilities,Price of goods and services,userid
0,21,Female,More than 5 days,Between 10k and 25k,Holiday or vacation,Hotel,"Visit museums, Visit national parks, Visit his...",Pangong Tso Lake,9.000000,8.000000,10.000000,8.000000,1
1,21,Female,More than 5 days,Between 10k and 25k,Holiday or vacation,Hotel,"Visit museums, Visit national parks, Visit his...",Shanti Stupa,9.000000,8.000000,10.000000,8.000000,1
2,21,Female,More than 5 days,Between 10k and 25k,Holiday or vacation,Hotel,"Visit museums, Visit national parks, Visit his...",Tiger Hill,9.000000,8.000000,10.000000,8.000000,1
3,21,Female,More than 5 days,Between 10k and 25k,Holiday or vacation,Hotel,"Visit museums, Visit national parks, Visit his...",Khardung-la Pass,9.000000,8.000000,10.000000,8.000000,1
4,21,Female,More than 5 days,Between 10k and 25k,Holiday or vacation,Hotel,"Visit museums, Visit national parks, Visit his...",Royal Leh Palace,9.000000,8.000000,10.000000,8.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1080,20,Male,More than 5 days,Between 10k and 25k,Holiday or vacation,Guest house,"Biking, Water Sports or Boating, Visit museums...",Nubra Valley,8.153846,7.153846,8.269231,7.884615,104
1081,20,Male,More than 5 days,Between 10k and 25k,Holiday or vacation,Guest house,"Biking, Water Sports or Boating, Visit museums...",Hemis National Park,8.153846,7.153846,8.269231,7.884615,104
1082,20,Male,More than 5 days,Between 10k and 25k,Holiday or vacation,Guest house,"Biking, Water Sports or Boating, Visit museums...",Alchi,8.153846,7.153846,8.269231,7.884615,104
1083,20,Male,More than 5 days,Between 10k and 25k,Holiday or vacation,Guest house,"Biking, Water Sports or Boating, Visit museums...",Chadar Trek,8.153846,7.153846,8.269231,7.884615,104
1084,20,Male,More than 5 days,Between 10k and 25k,Holiday or vacation,Guest house,"Biking, Water Sports or Boating, Visit museums...",Changtang Wildlife Sanctuary,8.153846,7.153846,8.269231,7.884615,104

In [29]:
(user_data.shape[0])

1085

In [30]:
len(attractions['itemid'])

20

In [31]:
item = []
index = []
flag = 0
for i in range((user_data.shape[0])):
    flag = 0
    if(user_data['places'][i].lower()=='none'):
        item.append('NaN')
        continue
    for j in range((attractions.shape[0])):
        if((user_data['places'][i].lower().replace(" ", ""))==(attractions['Name'][j].lower().replace(" ",""))):
            item.append(attractions['itemid'][j])
            flag = 1
            index.append(i)
    if(flag==0):
        item.append('NaN')

In [32]:
len(item)

1085

In [33]:
user_data['itemid'] = item

In [34]:
data = user_data

In [35]:
data['rating'] = (data['Food and beverages(restaurant)'] + data['Accessibility to public transport'] + data['Hotel facilities'] + data['Price of goods and services'])/4

In [36]:
data.drop(['Food and beverages(restaurant)', 'Accessibility to public transport', 'Hotel facilities', 'Price of goods and services'], inplace=True, axis=1)

In [37]:
data.head()

,Age,Gender,#nights,Budget/person,purpose,accomodation_type,activities,places,userid,itemid,rating
0,21,Female,More than 5 days,Between 10k and 25k,Holiday or vacation,Hotel,"Visit museums, Visit national parks, Visit his...",Pangong Tso Lake,1,1,8.75
1,21,Female,More than 5 days,Between 10k and 25k,Holiday or vacation,Hotel,"Visit museums, Visit national parks, Visit his...",Shanti Stupa,1,2,8.75
2,21,Female,More than 5 days,Between 10k and 25k,Holiday or vacation,Hotel,"Visit museums, Visit national parks, Visit his...",Tiger Hill,1,3,8.75
3,21,Female,More than 5 days,Between 10k and 25k,Holiday or vacation,Hotel,"Visit museums, Visit national parks, Visit his...",Khardung-la Pass,1,4,8.75
4,21,Female,More than 5 days,Between 10k and 25k,Holiday or vacation,Hotel,"Visit museums, Visit national parks, Visit his...",Royal Leh Palace,1,5,8.75

In [38]:
rate = []
for i in range(df.shape[0]):
    flag = 0
    for j in range(data.shape[0]):
        if(df['userid'][i]==data['userid'][j] and df['itemid'][i]==data['itemid'][j]):
            rate.append(data['rating'][j])
            flag = 1
    if(flag==0):
        rate.append(0)

In [39]:
df.shape

(2080, 2)

In [40]:
len(rate)

2080

In [41]:
df['rating'] = rate

In [42]:
for i in df['itemid']:
    if i=='NaN':
        i = 0

In [52]:
def favoritePlace(activeUser,N):
    topPlace=pd.DataFrame.sort_values(
        df[df.userid==activeUser],['rating'],ascending=[0])[:N]
    return list(topPlace.title)

userItemRatingMatrix=pd.pivot_table(df, values='rating',
                                    index=['userid'], columns=['itemid'])


def similarity(user1,user2):
    try:
        user1=np.array(user1)-np.nanmean(user1)
        user2=np.array(user2)-np.nanmean(user2)
        commonItemIds=[i for i in range(len(user1)) if user1[i]>0 and user2[i]>0]
        if len(commonItemIds)==0:
           return 0
        else:
           user1=np.array([user1[i] for i in commonItemIds])
           user2=np.array([user2[i] for i in commonItemIds])
           return correlation(user1,user2)
    except ZeroDivisionError:
        print("You can't divide by zero!")



def nearestNeighbourRatings(activeUser,K):
    try:
        similarityMatrix=pd.DataFrame(index=userItemRatingMatrix.index,columns=['Similarity'])
        for i in userItemRatingMatrix.index:
            similarityMatrix.loc[i]=similarity(userItemRatingMatrix.loc[activeUser],userItemRatingMatrix.loc[i])
        similarityMatrix=pd.DataFrame.sort_values(similarityMatrix,['Similarity'],ascending=[0])
        nearestNeighbours=similarityMatrix[:K]
        neighbourItemRatings=userItemRatingMatrix.loc[nearestNeighbours.index]
        predictItemRating=pd.DataFrame(index=userItemRatingMatrix.columns, columns=['Rating'])
        for i in userItemRatingMatrix.columns:
            predictedRating=np.nanmean(userItemRatingMatrix.loc[activeUser])
            for j in neighbourItemRatings.index:
                if userItemRatingMatrix.loc[j,i]>0:
                   predictedRating += (userItemRatingMatrix.loc[j,i]-np.nanmean(userItemRatingMatrix.loc[j]))*nearestNeighbours.loc[j,'Similarity']
                predictItemRating.loc[i,'Rating']=predictedRating
    except ZeroDivisionError:
        print("You can't divide by zero!")            
    return predictItemRating


def topNRecommendations(activeUser,N):
    try:
        predictItemRating=nearestNeighbourRatings(activeUser,10)
        placeAlreadyWatched=list(userItemRatingMatrix.loc[activeUser]
                              .loc[userItemRatingMatrix.loc[activeUser]>0].index)
        predictItemRating=predictItemRating.drop(placeAlreadyWatched)
        topRecommendations=pd.DataFrame.sort_values(predictItemRating,
                                                ['Rating'],ascending=[0])[:N]
        topRecommendationTitles=(attractions.loc[attractions.itemid.isin(topRecommendations.index)])
    except ZeroDivisionError:
        print("You can't divide by zero!")
    return list(topRecommendationTitles.Name)


activeUser=int(input("Enter userid: "))
#print("The user's favorite places are: ")
#print(favoritePlace(activeUser,5))
print("The recommended places for you are: \n")
print(topNRecommendations(activeUser,5))

Enter userid:  1

The recommended places for you are:

['Panamik Village', 'Kargil', 'Central Asian Museum', 'Hemis National Park', 'Alchi']